@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@400;700&display=swap');

@theme {
    /* USAR EM: Botão "Entrar", Botões principais de ação */
    --color-brand-blue: #1558d6;

    /* USAR EM: Detalhes decorativos, bolinhas do fundo, ícones suaves */
    --color-brand-light: #6ba6ff;

    /* USAR EM: Efeito quando passa o mouse em cima do botão azul (Hover) */
    --color-brand-dark: #0d3c94;


    /* >> ALUNO (Laranja) */
    /* USAR EM: Títulos "Bem-vindo Aluno", ícones da barra lateral do aluno */
    --color-aluno-primary: #ff6b35;
    /* USAR EM: Fundo bem clarinho atrás de textos do aluno */
    --color-aluno-secondary: #fff0e5;

    /* >> ESCOLA (Vzerde) */
    /* USAR EM: Títulos "Bem-vindo Escola", ícones da barra lateral da escola */
    --color-escola-primary: #4caf50;
    /* USAR EM: Fundo bem clarinho atrás de textos da escola */
    --color-escola-secondary: #e8f5e9;

    /* >> UNIVERSIDADE (Roxo) */
    /* USAR EM: Títulos "Bem-vinda Universidade", ícones da barra lateral */
    --color-uni-primary: #9c27b0;
    /* USAR EM: Fundo bem clarinho atrás de textos da universidade */
    --color-uni-secondary: #f3e5f5;

    /* >> ADMIN (Vermelho) */
    /* USAR EM: Painel do Administrador */
    --color-admin-primary: #f44336;
    --color-admin-secondary: #ffebee;


    /* USAR EM: Coisas positivas! Botão "Inscreva-se", Status "Aprovado", "Participar" */
    --color-status-success: #66bb6a;

    /* USAR EM: Coisas de atenção. Status "Em análise", Avisos importantes */
    --color-status-warning: #ffca28;

    /* USAR EM: Erros e Perigo. Botão "X" de fechar, "Recusar", "Expirado" */
    --color-status-error: #ef5350;

    /* USAR EM: Textos de ajuda ou botões desativados */
    --color-status-gray: #9e9e9e;

    /* USAR EM: O fundo geral da tela (atrás de tudo). É um cinza quase branco. */
    --color-background: #f5f7fa;

    /* USAR EM: Cartões, caixas de login, formulários. É o BRANCO PURO. */
    --color-surface: #ffffff;


    /* USAR EM: Todo o texto comum, parágrafos, inputs e tabelas.
     Motivo: A Inter é excelente para leitura em telas. */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    /* escrever apnas font-sans */

    /* USAR EM: Títulos grandes, Cabeçalhos e Botões importantes.
     Motivo: A Poppins dá uma cara moderna e de "marca" para o site. */
    --font-heading: "Poppins", sans-serif;
    /* escrever apenas font-heading */
}